<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIDtSRvwpsB2C_J1v54MllP3yuM0pILSg</string>
	<key>GCM_SENDER_ID</key>
	<string>515434819795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamCheckMate</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-92b18</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-92b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515434819795:ios:d405a1e82b0d8b05ab2426</string>
</dict>
</plist>